h1{
font-weight: 200;
   color: #00FFFF;
        font-family: 'SEGA LOGO FONT';
        
}

@font-face {
        font-family: 'SEGA LOGO FONT';
        font-style: normal;
        font-weight: normal;
        src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
        }